body {
  margin-top: 20px;
  background-color: #d5d9de;
}
p {
  color: #656565;
}

.container {
  background-color: white;
  box-shadow: 0 0 5px #9d9d9d;
}
.control_buttons {
  width: 60px;
  height: 60px;
  margin: 10px;
  cursor: pointer;
}
video {
  width: 640px;
  height: 360px;
}
.controlArea {
  padding: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu {
  position: absolute;
  right: -405px;
  background: rgba(47, 47, 47, 0.95);
  box-shadow: -1px 0 8x rgba(0, 0, 0, 0.6);
  width: 400px;
  height: 100%;
  padding: 70px 0;
}
#playlist {
  color: #000;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid #a7a7a7;
  cursor: pointer;
}
#playlist li {
  list-style: none;
  padding: 10px 15px;
  border-bottom: 1px solid #a7a7a7;
  cursor: pointer;
}
.selected {
  background: rgb(166, 236, 160);
}
#playlist li img {
  height: 35px;
  width: 35px;
}
.current_playing {
  background: #c3c796;
}
.menuItems li:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.menu h5 {
  color: #fff;
  padding: 25px 10px;
}
